<!doctype html>
<html class="no-js" lang="en" ng-app="app">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Report tool</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="js/vendor/modernizr.js"></script>
  <script src="lib/d3.v3.js"></script>
  <script src="lib/ramda.min.js"></script><!--
  <script src="lib/angular.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
  <script src="report.js"></script>
  <style>
  .row {
    font-size: 14px;
  }
  .hit {
    margin-top: 20px;
    border-bottom: 1px solid #ccc
  }
  </style>
</head>
<body>
  <div ng-controller="DiagramCtrl">
    <div class="row">
      <h2>&nbsp;</h2>
    </div>
    <div ng-show="result">
      <div class="row" ng-show="result.total === 0">
        No results found!
      </div>
      <div class="row" ng-show="result.total !== 0">
        <table>
          <tr>
            <th rowspan="2">No.
            </th>
            <th colspan="{{notSelected().length}}">
              <a data-dropdown="productdd" aria-controls="productdd" aria-expanded="false">{{product.selected.label}}</a>
              <ul id="productdd" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
              <li ng-repeat="option in product.options"><a href="#" ng-click="product.selected = option; find()">{{option.label}}</a></li>
              </ul>
              <div ng-show="selectedNotAny().length > 0">
                <a ng-repeat="detail in selectedNotAny() track by detail.name" ng-click="selectOptionAny(detail)">
                  {{detail.name}}={{detail.selected.value}}
                </a>
              </div>
            </th>
            <th>
              <a data-dropdown="dimensiondd" aria-controls="dimensiondd" aria-expanded="true">{{dimension.selected.value}}</a>
              <ul id="dimensiondd" class="f-dropdown" data-dropdown-content aria-hidden="false" tabindex="-1">
                <li ng-repeat="option in dimension.options"><a href="#" ng-click="dimension.selected = option; find()">{{option.value}}</a></li>
              </ul>
            </th>
          </tr>
          <tr>
            <th ng-repeat="detail in notSelected() track by detail.name">
              <a data-dropdown="detaildrop{{$index}}" aria-controls="detaildrop{{$index}}" aria-expanded="false">{{detail.name}}</a>
              <ul id="detaildrop{{$index}}" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
              <li ng-repeat="option in detail.options"><a href="#" ng-click="selectOption(option, detail)">{{option.label}}</a></li>
              </ul>
            </th>
            <th>
              <a data-dropdown="funcsdropdown" aria-controls="funcsdropdown" aria-expanded="false">{{labels[selected_statfun] || selected_statfun}}</a>
              <ul id="funcsdropdown" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                <li ng-repeat="stats_func in stats_funcs"><a href="#" ng-click="$parent.selected_statfun = stats_func; find()">{{labels[stats_func] || stats_func}}</a></li>
              </ul>
            </th>
          </tr>
          <tr ng-repeat="hit in result.hits">
            <td>{{$index + result.n + 1}}
            </td>
            <td ng-repeat="value in hit.params | anyParams:allOptions">
              {{value}}
            </td>
            <td>
              {{hit.stats[dimension.selected.value][selected_statfun]}}
            </td>
          </tr>
        </table>
        <div>
          {{result.total}} results found.
        </div>
        <div ng-show="pagesCount() > 1">
          Page: <a ng-click="pageBack()">Previous</a>, {{page+1}}, <a ng-click="pageNext()">Next</a>, Total {{pagesCount()}} pages.
        </div>
      </div>
    </div>
  </div>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script>
  $(document).foundation();
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-987100-7', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
